rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /covers/{userId}/{document=**} {
      allow read, create: if request.auth!=null;
      allow delete: if request.auth.uid == userId;
    }
    match /songs/{userId}/{document=**} {
      allow create: if request.auth!=null;
      allow read: if true; // su riga singola non richiede token e funziona su diverse playlists
      allow delete: if request.auth.uid == userId;
    }

  }
}
